name: Get Event payload


on:
  pull_request_target:

  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Print event
        run: echo $GITHUB_EVENT_NAME $GITHUB_EVENT_PATH

      
