name: Main Workflow 
on:
    pull_request_target:
env:
    baseFodler: "contributions/"
jobs: 
  extractPayloadData:
        runs-on: ubuntu-latest
        outputs:
            headRepo: ${{ steps.runScript.outputs.headNm }}
            baseRepo: ${{ steps.runScript.outputs.baseNm }}
            headRef: ${{ steps.runScript.outputs.headBr }}
            baseRef: ${{ steps.runScript.outputs.baseBr }}
            num: ${{ steps.runScript.outputs.pullNm }}
            fileChanges: ${{steps.file_changes.outputs.files_added}}
        steps:
            - id: file_changes
              uses: trilom/file-changes-action@v1.2.3
            - uses: actions/checkout@v2
            - uses: Dovyski/payload-info-action@master
              with:
                filter_push: '.commits[].author'
                filter_pull_request: '.pull_request.commits'
            - name: setup python
              uses: actions/setup-python@v2
              with:
                python-version: 3.8 #install the python needed
            - id: runScript
              run: |
                python getJson.py $GITHUB_EVENT_PATH
  headRepo:
    runs-on: ubuntu-latest
    outputs:
        folderName: ${{ steps.run.outputs.folderName }}
        report: ${{ steps.run.outputs.report }}
        idsMatch: ${{ steps.run.outputs.idsMatch }}
    needs: extractPayloadData
    steps:
        - name: checkout repo
          uses: actions/checkout@v2
          with:
            repository: ${{needs.extractPayloadData.outputs.headRepo}}
            ref: ${{needs.extractPayloadData.outputs.headRef}}
        - uses: actions/checkout@v2
        - name: setup python
          uses: actions/setup-python@v2
          with:
            python-version: 3.8 #install the python needed
        - id: runScript2
          run: |
                python id_match.py ${{needs.extractPayloadData.outputs.fileChanges}} $baseFolder

                
                
        
    
