
name: Test A
    
on:
    [push, pull_request]
    
jobs:
    extractPayloadData:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: Dovyski/payload-info-action@master
              with:
                filter_push: '.commits[].author'
                filter_pull_request: '.pull_request.commits'
            - name: setup python
              uses: actions/setup-python@v2
              with:
                python-version: 3.8 #install the python needed
            - id: runScript
              run: |
                githubjson=`cat $GITHUB_EVENT_PATH`
                python getJson.py githubjson
            #    baseBranch= jq -r '.pull_request.base.ref' <<< "$githubjson"
             #   echo "::set-output name=baseBr::$baseBranch"
            #    echo "${{baseBr}}"
             #   headBranch= echo "$(jq -r '.pull_request.head.ref' <<< "$githubjson")"
              #  echo "::set-output name=headBr::$headBranch"
            #    headBranch = echo "$(jq -r '.pull_request.head.ref' <<< "$githubjson")"
             #   echo "::set-output name=headBr::$headBranch"
              #  baseRepo = echo "$(jq -r '.pull_request.base.repo.full_name' <<< "$githubjson")"
         #       echo "::set-output name=baseRe::$baseRepo"
              #  headRepo = echo "$(jq -r '.pull_request.head.repo.full_name' <<< "$githubjson")"
              #  echo "::set-output name=headRe::$headRepo"
                
                
            - id: printValues
              run:  |
                    echo "${{steps.runScript.outputs.baseBr}}"
         #           echo "${{steps.saveJson.outputs.headBr}}"
     #               echo "${{steps.saveJson.outputs.headBr}}"
      #              echo "${{steps.saveJson.outputs.baseRe}}"
       #             echo "${{steps.saveJson.outputs.headRe}}"

  
  
        
