
name: Test A
    
on:
    [push, pull_request]
    
jobs:
    extractPayloadData:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: Dovyski/payload-info-action@master
              with:
                filter_push: '.commits[].author'
                filter_pull_request: '.pull_request.commits'
            - name: setup python
              uses: actions/setup-python@v2
              with:
                python-version: 3.8 #install the python needed
            - id: runScript
              run: |
                githubjson=`cat $GITHUB_EVENT_PATH`
                python getJson.py $GITHUB_EVENT_PATH
  
                
                
            - id: printValues
              run:  |
                    echo "${{steps.runScript.outputs.baseBr}}"
                    echo "${{steps.runScript.outputs.headBr}}"
                    echo "${{steps.runScript.outputs.baseNm}}"
                    echo "${{steps.runScript.outputs.headNm}}"
                    echo "${{steps.runScript.outputs.pullNm}}"

  
  
        
