
name: Test A
    
on:
    [push, pull_request]
    
jobs:
    extractPayloadData:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: Dovyski/payload-info-action@master
              with:
                filter_push: '.commits[].author'
                filter_pull_request: '.pull_request.commits'
            - id: saveJson
              run: |
                githubjson=`cat $GITHUB_EVENT_PATH`
                baseBranch= jq -r '.pull_request.base.ref' <<< "$githubjson"
                echo "$baseBranch"
                echo "::set-output name=baseBr::"$baseBranch
             #   headBranch= echo "$(jq -r '.pull_request.head.ref' <<< "$githubjson")"
              #  echo "::set-output name=headBr::$headBranch"
            #    headBranch = echo "$(jq -r '.pull_request.head.ref' <<< "$githubjson")"
             #   echo "::set-output name=headBr::$headBranch"
              #  baseRepo = echo "$(jq -r '.pull_request.base.repo.full_name' <<< "$githubjson")"
         #       echo "::set-output name=baseRe::$baseRepo"
              #  headRepo = echo "$(jq -r '.pull_request.head.repo.full_name' <<< "$githubjson")"
              #  echo "::set-output name=headRe::$headRepo"
                
                
            - run:  |
                    echo "${{steps.saveJson.outputs.baseBr}}"
         #           echo "${{steps.saveJson.outputs.headBr}}"
     #               echo "${{steps.saveJson.outputs.headBr}}"
      #              echo "${{steps.saveJson.outputs.baseRe}}"
       #             echo "${{steps.saveJson.outputs.headRe}}"

  
  
        
