
name: pyComment
    
    #on:
    #  schedule:
    #    - cron: "0 0 * * *" #runs at 00:00 UTC everyday
on:
    workflow_dispatch:
    
jobs:
    runningPython:
      runs-on: ubuntu-latest
      outputs:
        comment: ${{ steps.step1.outputs.comment }}
      steps:
          - name: checkout repo content
            uses: actions/checkout@v2 # checkout the repository content to github runner.
          - name: setup python
            uses: actions/setup-python@v2
            with:
              python-version: 3.8 #install the python needed
          - id: step1
            name: execute py script # run the run.py to get the latest data
            run: | 
                output=$(python comment.py v2.21)
                echo "::set-output name=comment::$output"
    
    commentCreated:
        runs-on: ubuntu-latest
        needs: runningPython
        steps:
          - name: Create comment
            uses: peter-evans/create-or-update-comment@v1
            with:
                issue-number: 2 #${{github.event.number}}
                body: |
                    ${{needs.runningPython.outputs.comment }}
