
name: Test A
    
on:
    [push, pull_request]
    
jobs:
    extractPayloadData:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: Dovyski/payload-info-action@master
              with:
                filter_push: '.commits[].author'
                filter_pull_request: '.pull_request.commits'
            - id: saveJson
              run: |
                githubjson=`cat $GITHUB_EVENT_PATH`
                baseBranch = `echo "$(jq -r '.pull_request.base.ref' <<< "$githubjson")"`
                echo '::set-output name=baseBranch::$baseBranch'
                
                headBranch = `echo "$(jq -r '.pull_request.head.ref' <<< "$githubjson")"`
                echo '::set-output name=headBranch::headBranch'
               
                baseRepo = `echo "$(jq -r '.pull_request.base.repo.full_name"' <<< "$githubjson")"`
                echo '::set-output name=baseRepo::baseRepo'
                headRepo = `echo "$(jq -r '.pull_request.head.repo.full_name"' <<< "$githubjson")"`
                echo '::set-output name=headRepo::headRepo'
  
            - run: |
                    echo "${{ steps.saveJson.outputs.baseBranch }}"
                    echo $headBranch
                    echo $baseRepo
                    echo $headRepo
  
        
